.cards {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-red {
  background-color: #f43f5e;
  position: relative;
}

.card-blue {
  background-color: #3b82f6;
}

.card-green {
  background-color: #22c55e;
}

.cards .card-red {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards .card-red p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card-red:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}

.cards:hover > .card-red:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cards .card-red .cdd {
  display: none;
  position: absolute;
  }

.cards .card-red:hover .cdd{
  display: block;
}

/* 绿色 */
.cards .card-green {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards .card-green p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card-green:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}

.cards:hover > .card-green:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cards .card-green .cdd {
  display: none;
  position: absolute;
  }

.cards .card-green:hover .cdd{
  display: block;
}

/* 蓝色 */
.cards .card-blue {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards .card-blue p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card-blue:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}

.cards:hover > .card-blue:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}