
        /* 清除默认样式 */
        *{
            margin: 0;  
            padding: 0;
            list-style: none;
        }
        /* 根节点的样式 */
        body{
            width: 100%;
        }
        /* 主容器的样式 */
        .container{
            /* 最小宽度 */
            min-width: 1150px;
            height: 3000px;
        }
        /* 头部区域的样式 */
        .header{
            width: 100%;
            height: 176px;
        }
        /* 顶部导航栏区域的样式 */
        .header .topnav{
            width: 100%;
            height: 36px;
            background-color: #333333;
        }
        /* 顶部导航栏的样式 */
        .header .nav{
            width: 1090px;
            height: 36px;
            background-color: #333333;
            margin: 0 auto;
            display: flex;
            justify-content: right;
        }
        /* 每一个导航子选项样式 */
        .nav>div{
            line-height: 36px;
            cursor: pointer;
            font-size: 12px;
            color: #cccccc;
        }


        /* 第四个div设置样式 */
        .nav>div:nth-child(4){
            color: #cc9756;
            position: relative;
        }
        /* 第四个div下拉列表的样式 */
        .nav>div:nth-child(4) .selectMenu{
            width: 83px;
            height: 100px;
            background-color: #ffffff;
            position: absolute;
            left: 10px;
            display: none;
        }
        /* 鼠标移入时显示下拉列表 */
        .nav>div:nth-child(4):hover .selectMenu{
            display: block;
        }
        /* 第四个div下拉列表的子选项样式 */
         .selectMenu>div{
            width: 70%;
            line-height: 33px;
            margin: 0 auto;
            text-align: center;
            color: #999999;
            font-size: 12px;
            cursor: pointer;
        }
        /* 每一个子选项分割线样式 */
        .selectMenu>div:nth-child(n+3){
            border-top: 1px solid gainsboro;
        }


        /* 第五个div样式 */
        .nav>div:nth-child(5){
            position: relative;
        }
        /* 第五个div下拉列表的样式 */
        .nav>div:nth-child(5) .selectMenu1{
            width: 83px;
            height: 135px;
            background-color: #ffffff;
            position: absolute;
            left: 10px;
            display: none;
        }
        /* 鼠标移入时显示下拉列表 */
        .nav>div:nth-child(5):hover .selectMenu1{
            display: block;
        }
        /* 第五个div下拉列表的子选项样式 */
         .selectMenu1>div{
            width: 70%;
            line-height: 33px;
            margin: 0 auto;
            text-align: center;
            color: #999999;
            font-size: 12px;
            cursor: pointer;
        }
        /* 每一个子选项分割线样式 */
        .selectMenu1>div:nth-child(n+3){
            border-top: 1px solid gainsboro;
        }


        /* 第六个div样式 */
        .nav>div:nth-child(6){
            position: relative;
        }
        /* 第六个div下拉列表的样式 */
        .nav>div:nth-child(6) .selectMenu2{
            width: 130px;
            height: 135px;
            background-color: #ff0000;
            position: absolute;
            left: -10px;
            display: none;
        }
        /* 鼠标移入时显示下拉列表 */
        .nav>div:nth-child(6):hover .selectMenu2{
            display: block;
        }
        /* 第六个div下拉列表的子选项样式 */
         .selectMenu2 .img1{
            margin: 10px 10px 0 10px;
        }
         .selectMenu2 .text{
            width: 70%;
            line-height: 1px;
            margin: 0 auto;
            text-align: center;
            color: #999999;
            font-size: 12px;
            cursor: pointer;
         }


        /* 鼠标移入时改变文字颜色 */
         .nav>div:hover{
            color: #ffffff;
        }
        /* 每一个导航子选项前边框样式 */
         .nav>div:nth-child(n+2)::before{
            content: '';
            display: inline-block;
            height: 16px;
            border-left: 1px solid #5c5c5c;
            vertical-align: middle;/* 元素垂直居中 */
            margin: 0 10px;
        }
        /* 字体图标的样式 */
        .icon-xiangxiajiantou{
            font-size: 10px;
        }
        .icon-shouji-copy{
            font-size: 11px;
            color: #ffffff;
        }
        .icon-xiangxiasanjiao{
            color: rgb(255, 255, 255);
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -8px;
        }


        /* 搜索区域的样式 */
         .search{
            width: 1090px;
            height: 110px;
            margin: 0 auto;
            display: flex;
        }
        /* logo区域样式 */
         .search .logo{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
        }
        /* logo中img样式 */
         .logo img{
            width: 100%;
        }
        /* 搜索框样式 */
         .search .sInput{
            width: 60%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .sInput .input{
            width: 530px;
            height: 30px;
            display: flex;
            margin-top: 20px;
        }
        /* 左侧搜索栏样式 */
        .input input{
            width: 80%; 
            height: 38px;   
            box-sizing: border-box;
            border: 1px solid #cc9756;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            outline: none;
            /* 背景图片属性 icon*/
            background-image: url('./1234.jpg');
            background-repeat: no-repeat;   
            background-position: left 10px center; 
            background-size: 16px 16px;
            padding-left: 38px;
        }
        /* 右侧按钮样式 */
         .input div{
            width: 20%;
            height: 38px;
            background-color: #cc9756;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            text-align: center;
            line-height: 38px;
            color: #ffffff;
            font-size: 16px;
        }
        /* 按钮透明度 */
        .input div:hover{
            opacity: 0.8;
        }
        /* 搜索区域导航栏样式 */
        .sInput .snav{
            width: 400px;
            height: 20px;
            margin-top: -15px;
            margin-left: -100px;
            display: flex;
            justify-content: space-evenly;
        }
        /* 搜索区域导航栏每一个div样式 */
         .snav div{
            text-align: center;
            color: #999999;
            font-size: 10px;
            cursor: pointer;
        }
        /* 第二个div颜色改变 */
         .snav>div:nth-child(2){
            color: #cc9756;
        }
        /* 鼠标移入时改变文字颜色 */
        .snav>div:hover{
            color: #cc9756;
        }
        /* 每一个导航子选项前边框样式 */
         .snav>div:nth-child(n+2)::before{
            content: '';
            display: inline-block;
            height: 12px;
            border-left: 1px solid #999999;
            vertical-align: middle;/* 元素垂直居中 */
            margin: 0 10px;
        }


        /* 购物车样式 */
         .search .cart{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;    
            justify-content: center;
        }
        /* 购物车图标整体样式 */
        .cart .icon{
            width: 60%;
            height: 40px;
            border: 1px solid #cc9756;
            line-height: 40px;  
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 20px;
            color: #cc9756;
        }
        /* 购物车数量的样式 */
        .icon .count{
            width: 16px;    
            height: 16px;  
            line-height: 16px;
            background-color: red;
            border-radius: 50%;
            text-align: center;
            color: white;        
        }


        /* 横向导航栏菜单样式 */
         .menu{
            width: 1090px;
            height: 30px;
            margin: 0 auto;
        }
        /* 菜单栏样式 */
         .menu .menulist{
            width: 100%;    
            height: 100%;   
            display: flex;  
            justify-content: space-between;  
            align-items: center;
        }
        /* 设置列表项样式 */
         .menulist li a{
            text-decoration: none;
            color: #333333;
            font-size: 14px;
            font-weight: bolder;
        }
        /* 第一个列表项的样式 */
         .menulist li:first-child a{
            color: #cc9756;
            border-bottom: 3px solid #cc9756;
        }
        /* 其余列表项hover时样式 */
        .menulist li:hover a{
            color: #cc9756;
            border-bottom: 3px solid #cc9756;
        }

        /* 居家生活列表项的样式 */
        .menulist .homelife{
            position: relative; 
        }
        /* 下拉展示——商品分类展示列表的样式 */
        .homelife .showlist{
            width: 530px;
            height: 530px;
            background-color: #ffffff;
            position: absolute;
            left: -72px;
            display: none;
            bottom: -534px;
        }
        /* 鼠标移入时显示下拉列表 */
         .menulist .homelife:hover .showlist{
            display: block; 
        }
        /* 下拉列表的子选项样式 */
        /* 床品家纺的样式 */
         .showlist .cpjf{
            width: 272px;
            margin-left: 20px;
            margin-top: 20px;
            text-align: left;
            color: #000000;
            font-size: 20px;
            font-weight: bolder;
            cursor: pointer;
            display: inline-block;
        }
        /* 床垫被褥的样式 */
        .showlist .cdbr{
            width: 124px;
            margin-top: 20px;
            margin-left: 40px;
            text-align:left;
            color: #000000;
            font-size: 20px;
            font-weight: bolder;
            cursor: pointer;
            display: inline-block;
        }
        /* 床品家纺下的选择框整体样式 */
        .showlist .c1{
            width: 272px;
            margin: 0 auto;
            cursor: pointer;
            float: left;
            display: flex;
            flex-wrap: wrap;    
        }
        /* 床垫被褥下的选择框整体样式 */
        .showlist .c2{
            width: 124px;
            margin: 0 auto;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
        }
        /* 床品家纺下选择框中左边每一个子选项的样式 */
        .c11>div{
            width: 90px;
            height: 30px;
            margin: 20px;
            display: flex;
            align-items: center;
        }
        /* 床品家纺下选择框中右边每一个子选项的样式 */
        .c12>div{
            width: 90px;
            height: 30px;
            margin: 20px;
            display: flex;
            align-items: center;
        }
        /* 床垫被褥下选择框中每一个子选项样式 */
        .c2>div{
            width: 100%;
            height: 30px;
            margin: 20px 0;
            display: flex;
            align-items: center;
        }
        /* 床品家纺中子选项图片样式 */
        .showlist .c1 img{
            width: 40px;
            height: 40px;
        }
        /* 床品家纺中子选项文字样式 */
         .showlist .text{
            font-size: 12px;
        }
        /* 床垫被褥中子选项图片样式 */
        .c2 img{
            width: 50px;
            height: 50px;
        }
        /* 每一个子选项分割线样式 */
        .showlist>div:nth-child(1){
            padding: 10px 0;
            border-bottom: 1px solid #999999;
        }
        .showlist>div:nth-child(2){
            padding: 10px 0;
            border-bottom: 1px solid #999999;
        }


        /* 内容展示区域样式 */
         .content{
            width: 100%;
        }
        /* 左右两侧粘性布局 */
        .content .left{
            width: 120px;
            height: 440px;
            /* background-color: red; */
            float: left;
            /* 粘滞定位 */
            position: sticky;
            top: 60px;
        }
         .content .right{
            width: 100px;
            height: 400px;
            background-color: #fbf7ec;
            float: right;
            /* 粘滞定位 */
            position: sticky;
            top: 60px;
        }
        .content .left .ul{
            width: 100px;
            height: 390px;
            margin: 20px 10px;
            border: #cccccc solid 1px;
            background-color: #fbf7ec;
        }
        .content .left .ul li{
            width: 80%;
            height: 38px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: lighter;
        }
        .content .left .ul .li1{
            width: 100%;
            color: red;
            font-size: 18px;
            font-weight: bolder;
            background-image: url('./fier.png');
            border-bottom: #cccccc solid 1px;
        }
        .content .left .ul .li2{
            color: red;
            font-weight: bold;
        }
        .content .left .ul li:nth-child(n+3){
            border-top: #cccccc solid 1px;
        }
        .content .left .ul li:hover{
            color: red;
            cursor: pointer;
        }



        /* 网站展示图片样式 */
         .content .showimg{
            width: 1920px;
            height: 420px;
            margin: 0 auto;
        }



        /* 商品展示区域整体样式 */
         .content .product{
            width: 1090px;
            height: 430px;
            margin: 0 auto;
        }
        /* 商品展示区域标题样式 */
         .product .protitle{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: flex-end;
            padding-bottom: 10px;
            box-sizing: border-box;
        }
        /* 第一个标题 */
        .protitle .t1{
            width: 11%;
            font-size: 26px;
            font-weight: bold;
        }
        /* 第二个标题 */
        .protitle .t2{
            width: 15%;
            font-size: 14px;
            font-weight: lighter;
        }
        /* 第三个标题 */
        .protitle .t3{
            width: 74%;
            font-size: 14px;
            font-weight: lighter;
            text-align: right;
        }

        /* 商品展示区域样式 */
        .product .proshow{
            width: 100%;
            height: 365px;
            display: flex;
            justify-content: space-between;
        }
        /* 商品卡片整体样式 */
        .proshow>div{
            width: 265px; 
            height: 365px;        
        }
        /* 商品卡片背景图片样式 */
         .proshow>div .proimg{
            width: 265px;
            height: 265px;
        }
        /* 第一个卡片的背景图片 */
         .proshow>div:nth-child(1) .proimg{
            background-image: url('./12.png');
            background-size: 265px 265px;
        }
        /* 第二个卡片的背景图片 */
         .proshow>div:nth-child(2) .proimg{
            background-image: url('./12.png');
            background-size: 265px 265px;       
        }   
        /* 第三个卡片的背景图片 */
         .proshow>div:nth-child(3) .proimg{
            background-image: url('./12.png');
            background-size: 265px 265px;       
        }   
        /* 第四个卡片的背景图片 */
         .proshow>div:nth-child(4) .proimg{
            background-image: url('./12.png');
            background-size: 265px 265px;
        }
        /* 图片 hover 改变背景图片 */
        .proshow>div .proimg:hover{
            background-image: url('https://yanxuan-item.nosdn.127.net/da59d01f74679ddef05480b4cdeff6ac.jpg?type=webp&quality=95&thumbnail=265x265&imageView');
            background-size: 265px 265px;
        }
        /*商品描述文字样式 */
         .proshow>div .prodesc{
            width: 70%;
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
        }
        /* 商品价格样式 */
         .proshow>div .proprice{
            width: 40%;
            margin: 0 auto;
            text-align: center;
            font-size: 15px;
            font-weight: lighter;
            color: red;
        }
        /* 商品价格原价样式 */
         .proshow>div .proprice .zkprice{
            color: rgb(119, 119, 119);
            text-decoration: line-through;
        }
        


        /* 商品展示区域整体背景样式 */
        .content .product2{
            width: 100vw;
            height: 660px;
            margin: 0;
            background-color: rgb(244, 240, 234)
        }
        /* 商品展示区域2的整体样式 */
         .content .pdc{
            width: 1090px;
            height: 660px;
            margin: 0 auto;
            background-color: rgb(244, 240, 234);
        }
        /* 商品展示区域2标题样式 */
         .pdc .pdct{
            width: 100%;
            height: 100px;
            display: flex;
            align-items: flex-end;
            padding-bottom: 20px;    
        }
        /* 第一个标题 */
        .pdct .pt1{
            width: 11%;
            font-size: 26px;
            font-weight: bold;
        }
        /* 第二个标题 */
        .pdct .pt2{
            width: 8%;
            color: #cc9756;
            text-align: center;
            font-size: 14px;
            font-weight: lighter;
            padding-bottom: 5px;
            margin-left: 20px;
            margin-bottom: -2px;
            border-bottom: #cc9756 3px solid;
        }
        /* 第三个标题 */
        .pdct .pt3{
            width: 11%;
            font-size: 14px;
            font-weight: lighter;
            margin-bottom: 6px;
            margin-left: 30px;
        }
        /* 第四个标题 */
        .pdct .pt4{
            width: 67%;
            font-size: 14px;
            font-weight: lighter;
            text-align: right;
        }
        /* 标题二/三鼠标悬停时标题样式 */
        .pt3:hover{
            color: #cc9756;
            cursor: pointer;
        }
        .pt2:hover{
            color: #cc9756;
            cursor: pointer;
        }
        
        /* 商品展示区域2图片样式 */
         .pdc .pdcs{
            width: 100%;
            height: 570px;
            display: flex;  
        }
        /* 产品图片区域样式 */
         .pdcs .pd1{
            width: 390px;
            height: 500px; 
            background-color: white;
        }
        /* 图片样式 */
        .pd1 .pimg{
            width: 390px;
            height: 320px;
            border-bottom: rgb(244, 240, 234) 1px solid;
            display: flex;
            justify-content: center;    
            align-items: center;
        }
         .pd1 .pimg img{
            width: 300px; 
            transition: transform 1s;
        }
        /* 鼠标悬停时图片样式 */
        .pd1:hover .pimg img{
            transform: scale(1.05)
        }
        /* 描述样式 */
        .pdesc{
            width: 245px;
            height: 49px;
            margin: 30px auto;
            text-align: center;
            font-weight: bold;
        }
        /* 鼠标悬停时标题样式 */
        .pdesc:hover{
            color: #cc9756;
            cursor: pointer;
        }
        /* 价格样式 */
         .pd1 .pprice{
            width: 40%;
            margin: 0 auto;
            text-align: center;
            font-size: 15px;
            font-weight: lighter;
            color: red;
        }
        /* 商品价格原价样式 */
        .pd1 .pprice .zkprice{
            color: rgb(119, 119, 119);
            text-decoration: line-through;
        }

        .pdcs .pd27{
            width: 700px;
            height: 500px;
            display: flex;
            flex-wrap: wrap;    
            justify-content: space-evenly;
        }
        .pd27>div{
            width: 230x;
            height: 240px;
            background-color: white;
        }
        .pd27 .pd5,.pd6,.pd7{
            border-top: 20px rgb(244, 240, 234) solid;
        }
        /* 图片样式 */
        .pd27>div .pImg{
            width: 180px;
            height: 180px;
            border-bottom: rgb(244, 240, 234) 1px solid;
            display: flex;
            justify-content: center;    
            align-items: center;
        }
         .pd27>div .pImg img{
            width: 180px;
            transition: transform 1s;
        }
        /* 鼠标悬停时图片样式 */
        .pd27>div .pImg img:hover{
            transform: scale(1.05)
        }
        /* 描述样式 */
        .pDesc{
            width: 180px;
            height: 25px;
            margin: 5px auto;
            font-size: 10px;;
            text-align: center;
            font-weight: bold;
        }
        /* 鼠标悬停时标题样式 */
        .pDesc:hover{
            color: #cc9756;
            cursor: pointer;
        }
        /* 价格样式 */
         .pd27>div .pPrice{
            width: 40%;
            margin: 0 auto;
            text-align: center;
            font-size: 10px;
            font-weight: lighter;
            color: red;
        }
        /* 商品价格原价样式 */
        .pd27>div .pPrice .zkprice{
            color: rgb(119, 119, 119);
            text-decoration: line-through;
        }

        /* 床品区域整体样式 */
        .content .bedroom{
            width: 100%;
            height: 900px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        /* 床品区域标题样式 */
        .content .bedroom .bedTitle{
            width: 1090px;
            height: 60px;
            color: rgb(0, 0, 0);
            display: flex;
            margin: 0;
        }
        .bedTitle1{
            width: 15%;
            font-size: 30px;
            font-weight: bold;
            /* margin-left: 20px; */
            margin-top: 20px;
            text-align: left;
        }
        .bedTitle2{
            width: 75%;
            font-size: 14px;
            font-weight: bold;
            margin-top: 30px;
            display: flex;
            justify-content: right;
            align-items: end;
        } 
        /* 每一个导航子选项前边框样式 */
        .bedTitle2>div:nth-child(n+2)::before{
            content: '';
            display: inline-block;
            height: 16px;
            border-left: 1px solid #000000;
            vertical-align: bottom;/* 元素垂直方位 */
            margin: 0 23px;
            /* 倾斜 */
            transform-origin: bottom right; 
            transform: rotate(30deg);
        }

        .bedTitle3{
            width: 10%;
            font-size: 14px;
            font-weight: bold;
            margin-top: 30px;
            display: flex;
            justify-content: right;
            align-items: end;
        }
        .bedTitle1:hover{
            color: #cc9756;
            cursor: pointer;
        }
        .bedTitle2>div:hover{
            color: #cc9756;
            cursor: pointer;
        }
        .bedTitle3:hover{
            color: #cc9756;
            cursor: pointer;
        }
        .bedroom .bedShow{
            width: 1090px;
            height: 800px;
            margin: 0;
            /* background-color: rgb(244, 240, 234); */
        }
        .bedShow .bs1{
            margin-top: 10px;
            width: 100%;
        }
        .bedShow .bs2{
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: space-between;
        }
        .bs2>div{
            width: 265px;
            height: 400px;
            /* background-color: #ff3535; */
            margin: 0;
            margin-top: 20px;
        }
        .bs2>div:hover{
            background-color: #c1c1c1;
        }
        .bs2>div .img{
            width: 265px;
            height: 265px;
            background-image: url('https://yanxuan-item.nosdn.127.net/8b9d1671522b1551bbbdd02aacc922bf.jpg?type=webp&quality=95&thumbnail=265x265&imageView');
            background-size: cover;
            background-position: center;
        }
        .bs2>div .img:hover{
           cursor: pointer;
            background-image: url('https://yanxuan-item.nosdn.127.net/f987f15aa4a31ef7d882a5a828965bba.jpg?type=webp&quality=95&thumbnail=265x265&imageView');
        }
        .bs2>div .tt{
            width: 250px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            color: rgb(0, 0, 0);
            margin-top: 30px;
        }
        /* 鼠标悬停时标题样式 */
        .bs2>div .tt:hover{
            color: #cc9756;
            cursor: pointer;
        }
        .bs2>div .pp{
            width: 265px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            color: rgb(255, 0, 0);
        }
        .bs2>div .pp .zkprice{
            color: rgb(119, 119, 119);
            text-decoration: line-through;
        }
        

        .footer{
            width: 100%;
            height: 200px;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
        }
        .footer .three{
            display: flex;
            justify-content: center;
            width: 1090px;
            height: 150px;
            margin: 30px auto;
        }
        .three>div{
            width: 300px;
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .three .ft2,.ft3{
            border-left: #acacac solid 1px;
        }
        .three>div .text1{
            width: 300px;
            height: 30px;
            text-align: center;
            font-size: 16px;
            font-weight: lighter;
        }
 
       
        